body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Didact Gothic";
  background-color: rgb(250, 250, 250);
}

.container {
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  top: 0;
}
/* 
.container:nth-child(even) {
    background-color: rgb(245, 245, 245);
} */

.text-selection-none {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.secondary-text {
  color: rgb(175, 175, 175);
}

/******************************************
*   Start of Overview
*******************************************/
#overview {
  background-image: url("/images/still_dark_ocena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.title {
  grid-column-start: 2;
  grid-row-start: 2;
  display: block;
  z-index: 1;
}

.title h1 {
  padding: 0;
  text-align: left;
  margin: 0 0 0 50px;
}

.name {
  font-size: 6.5vw;
}

.position {
  font-size: 3.7vw;
}

/*End of Overview*/

/******************************************
*   Start of Navbar
*******************************************/
.navbar {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  z-index: 1;
}

.portfolio {
  color: white;
  text-align: left;
  font-size: 1.5vw;
  padding: 18px 40px;
  margin: 0;
}

.header-nav {
  grid-column-start: 3;
  grid-row-start: 1;
  text-align: right;
}

.header-items {
  list-style-type: none;
  margin: 20px 40px 0;
}

.header-items a {
  color: white;
  text-decoration: none;
}

.header-items li {
  margin-right: 1.4vw;
  font-size: 1.2vw;
  display: inline;
}

.header-items a:hover {
  color: gainsboro;
  text-decoration: underline;
}

.highlight {
  text-decoration: underline;
  -webkit-transition: text-decoration 0.3s ease-out;
  -moz-transition: text-decoration 0.3s ease-out;
  -o-transition: text-decoration 0.3s ease-out;
  transition: text-decoration 0.3s ease-out;
}
.highlight a {
  color: gainsboro;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
/*End of Navbar*/

/******************************************
*   Start of about
*******************************************/
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
}

#about .left-col {
  margin: auto 0 auto 20%;
}
.about-title {
  padding: 0;
  margin: 0;
  font-size: 2.8vw;
  text-align: left;
  font-weight: bolder;
}

.about-subtitle {
  padding: 20px 0 0;
  margin: 0;
  font-size: 1.5vw;
  text-align: left;
  color: rgb(97, 97, 97);
}

.about-subtitle:after {
  content: "";
  display: block;
  margin: 0 10%;
  width: 50%;
  padding-top: 50px;
  border-bottom: 2px solid rgb(141, 141, 141);
}

#about .right-col {
  margin: auto 0;
  padding-top: 8%;
}

.me {
  border-radius: 50%;
  width: 23vw;
  height: 23vw;
  object-fit: cover;
}

.contact-info {
  font-size: 1.1vw;
}

.contact-info h3 {
  margin: 25px 0 10px;
}

.contact-info h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  border-bottom: 2px solid rgb(141, 141, 141);
}

.contact-info p {
  margin: 3px;
}

.contact-info a {
  text-decoration: none;
  color: rgb(14, 51, 153);
}

.contact-info a:hover {
  color: rgb(29, 49, 235);
  text-decoration: underline;
}
/*End of about*/

/******************************************
*   Start of projects
*******************************************/
#projects {
  background-color: rgb(66, 66, 66);
  display: grid;
}

.project-container {
  display: grid;
  column-gap: 1.5vw;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
}
.project-item {
  margin-top: 30px;
  height: 30vw;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(77, 77, 77, 1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(77, 77, 77, 1);
  box-shadow: 1px 1px 5px 1px rgba(77, 77, 77, 1);
}

.carousel__slide-focus-ring {
  outline: none !important;
}

.carosuel-item {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: white;
  outline: none;
}

.slide-title {
  color: white;
  padding: 10px 0 0;
  margin: 0;
  font-size: 2.8vw;
  display: inline-block;
}

.slide-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
  border-bottom: 2px solid rgb(141, 141, 141);
}

.slider-animation {
  transition: transform 800ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  will-change: transform;
}

.forward-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
}

.backward-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
}

.backward-btn:hover,
.forward-btn:hover {
  color: gainsboro;
}

.slider-btn {
  height: 3.2vw;
  width: 3.2vw;
}

.carousel__dot {
  width: 40px;
  height: 5px;
  border: none;
  outline: none;
  margin-left: 15px;
  background: rgb(143, 143, 143);
}

.carousel__dot:hover {
  background-color: rgb(255, 253, 187);
}

.dots {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.carousel__dot--selected {
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

.carousel-grid {
  display: grid;
  grid-template-columns: 4.2vw 1fr 1fr 4.2vw;
  grid-template-rows: 1fr 1fr;
  height: 80%;
  align-items: left;
  margin-top: 25px;
  text-align: left;
  column-gap: 3vw;
}

.carousel-grid p {
  padding: 0 0 10px;
  margin: 0;
  font-size: 1vw;
}

.project-detail {
  grid-column: 2;
  grid-row: 1;
}

.project-tech {
  grid-column: 2;
  grid-row: 2;
}

.carousel-grid .project-header {
  font-size: 1.5vw;
  padding: 0 0 10px;
}

.carousel-grid .project-header::after {
  content: "";
  display: block;
  width: 70%;
  padding: 0 0;
  border-bottom: 2px solid rgb(141, 141, 141);
}

.tech-table {
  font-size: 1vw;
  table-layout: auto;
  width: auto;
}

.tech-table td {
  width: auto;
  padding: 5px 20px 0 0;
}

.project-example {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: inline;
  position: relative;
}

.project-example img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.carousel-grid .site-url {
  margin-top: 20px;
  color: rgb(190, 216, 255);
  display: inline-block;
}

.carousel-grid .site-url:hover {
  color: rgb(97, 137, 248);
}

/*End of projects*/

/******************************************
*   Start of skillset
*******************************************/
#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  text-align: left;
  row-gap: 80px;
}

.skill-description {
  margin: auto 0 auto 15%;
  grid-column: 1;
  grid-row: span 2;
}

.skill-title {
  font-size: 2.8vw;
  margin: 0;
}

.skill-title:after {
  content: "";
  display: block;
  width: 60%;
  border-bottom: 2px solid rgb(141, 141, 141);
}

#skills p {
  font-size: 1.2vw;
  margin: 20px 0 0;
}

.web-skill-list {
  grid-column: 2;
  grid-row: 1;
  margin: auto 0 0;
}

.skillset-title {
  font-size: 2vw;
  margin: 0;
  text-align: center;
}

.icon-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.skill-icon {
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
  width: 90px;
  height: 90px;
  margin: 20px;
  padding: 0;
  display: inline-block;
  position: relative;
}

.skill-icon img {
  position: absolute;
  height: 55px;
  width: 55px;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*End of skillset*/

/******************************************
*   Start of Hobbies
*******************************************/
#hobbies {
  background-color: white;
}
