body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Didact Gothic'; 
}

.container {
    min-height: 100vh;
    text-align: center;
}

.container:nth-child(odd) {
    background-color: gainsboro;
}

.text-selection-none{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
    }

/******************************************
*   Start of Overview
*******************************************/
#overview {
    background-image: url("/images/still_dark_ocena.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}

.title {
    grid-column-start: 2;
    grid-row-start: 2;
    display: block;
}

.title h1 {
    padding: 0;
    text-align: left;
    margin: 0 0 0 50px;
    
}

.name {
    font-size: 6.5vw;
}

.position {
    font-size: 3.7vw;
}

.secondary-text {
    color:rgb(175, 175, 175);
}

.arrow-down {
    font-size: 2.5vw;
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: end;
    margin-bottom: 5%;
}

.arrow-down:hover {
    font-size: 2.8vw;
    color:gray;
}
/*End of Overview*/


/******************************************
*   Start of Navbar
*******************************************/
.navbar {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}

.portfolio {
    color:white;
    text-align: left;
    font-size: 1.5vw;
    padding: 18px 40px;
    margin: 0;
}

.header-nav {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: right;
}

.header-items {
    list-style-type: none;
    margin: 20px 40px 0;
}

.header-items a {
    color:white;
    text-decoration: none;
}

.header-items li {
    margin-right: 1.4vw;
    font-size: 1.2vw;
    display: inline;
}

.header-items a:hover {
    color:gainsboro;
    text-decoration: underline;
}

.highlight {
    text-decoration: underline;
    -webkit-transition: text-decoration 0.3s ease-out;
    -moz-transition: text-decoration 0.3s ease-out;
    -o-transition: text-decoration 0.3s ease-out;
    transition: text-decoration 0.3s ease-out;
}
.highlight a {
    color:gainsboro;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
/*End of Navbar*/